{% extends 'welcomepage.html' %}


{% block content %}

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    
    This is Your GSTR-1 Section 7 data.
    Log in to your GSTR portal and Go to File Returns.</br>
    Select Month and Go to Section 7
    
</head>
<body>
Select the First State and Enter the below tax Amount and Percent for it.
    Click Save after entering details and repeat the steps for every state.
    Click Save data after enetering all the states and click on File Return.
    .
    .
        
{% for table in tables %}
          
            {{ table|safe }}
{% endfor %}
</body>
</html>


{% endblock %}
