{% extends 'welcomepage.html' %}
{% block hom %}
{% endblock %}
{% block home %}
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  
  

<head>	
	  <title>SpoonfeeTAX</title>
</head>
<div 
	     class="card bg-secondary text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Did you sell products through market place other than amazon for the month? (including physical sales) 
	    </h2>
		</div>
		
 	 </div
  <br>
		  <br>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#statesdata">
    <span class="navbar-toggler-icon">YES.</span>
  </button>
<br><br>
<br>	<a href="#dive" class="btn btn-primary">NO!</a>
<br>


<div class="collapse navbar-collapse" id="statesdata">
    
<body>
<select name="add" method="GET" action="/data">
{% for state in add["Ship To State"] %}
        <option value="{{ state }}">{{ state }}</option>
    {% endfor %}
</select>
</body>


</div>
<div class="container-fluid"><br>
  
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>       </h1>
            
           
            </div>
    </div>
</div>
</div>


	
	<div 
	     class="card bg-danger text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Your Gst Number is {% print gstin %}
	    </h2>
		</div>
		
 	 </div
  <br>
		  <br>




 
<div id="dive" class="container">
  <p>Note:We dont Save your data! </p>
	  </div>
	
	<div class="container">
  <div class="row">
    <div class="col-sm-6" style="background-color:light;">
      
	
	
  <div class="card" style="width:400px">
	  <img class="card-img-top" src="{{url_for('static', filename='totalsale.jpeg')}}" alt="amazon sales data" id="responsive-image" Width=100%>
    <div class="card-body">
      <h4 class="card-title">Total Sales for the Month.</h4>
      <p class="card-text">Total Sale excluding GST.</p>
      <a href="#divi" class="btn btn-primary">{% print totalSale %}</a>
    </div>
	  
	  
	     </div>
    <div class="col-sm-6" style="background-color:light;">
      
	    
	    
	   
  <div class="card" style="width:400px">
	  <img class="card-img-top" src="{{url_for('static', filename='gst.jpeg')}}" alt="gst tax filing for amazon and ecommerce sellers" id="responsive-image" Width=100%>
    <div class="card-body">
      <h4 class="card-title">GST Collected for the Month.</h4>
      <p class="card-text">Total GST to be paid.</p>
      <a href="#" class="btn btn-primary">{% print totalTax %}</a>
   
  </div>
</div>
	    
	    
	    
	    
    </div>
  </div>
</div>
	  
	  
	  
	  
  </div>
  <br>
		

		
	<div 
	     class="card bg-warning text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Total number of Succesful Orders by you: {% print no_orders %}
	    </h2>
		</div>
		
 	 </div		
  <br>
  <br>
		
	<div 
	     class="card bg-warning text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Total number of Returned Orders to you: {% print no_refunds %}
	    </h2>
		</div>
		
 	 </div	
  <br>
  <br>
		
	<div 
	     class="card bg-warning text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Cancelled Orders: {% print no_cancel %}
	    </h2>
		</div>
		</div>
 	 </div
  <br></br>
<br><br>
	
  <br>	
  <br>
		
  
  
  
<body>
  
  
  <div class="container">
  <h2>Follow the steps to file your Amazon B2C GST Returns</h2>
    <div class="card bg-warning">
    <div class="card-body">
<a href="http://www.gst.gov.in/" target="_blank">Click here to Log in to GSTR portal !</a> 
</div>
</div>
</div>
	
	
<div class="container">
 <center>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#nemo">Click for Simple Steps</button>
  <div id="nemo" class="collapse">
   
  <div class="card">
    <div class="card-body">Log in to your GSTR portal and Go to Returns dashboard. Your GSTIN Number is:
     {% print gstin %} </div>
  </div>
  <br>
  <div class="card bg-primary text-white">
    <div class="card-body">Select Month and Click GSTR-1 & go to Section-7 "E-commerce (others)" </div>
  </div>
  <br>
   <div class="card bg-info text-white">
    <div class="card-body">Select the First State and Enter the below Tax Exclusive Sale Amount and Percent for it. Tax for the sales is automatically calculated by GST portal. </div>
  </div>

  <br>
    <div class="card bg-success text-white">
    <div class="card-body">Click Save after entering details and repeat the steps for every state in the table below. </div>
  </div>
 
  <br>
  
  <br>
  <div class="card bg-danger text-white">
    <div class="card-body">***Click Submit data after enetering details of all the states in table and click on File Return. . .***
  <br>Your GSTR 1 IS FILED! <br>
YOU CAN SEE YOUR REFUNDS BY AMAZON AUTOMATICALLY IN YOUR GSTR 2B SECTION. </div>
  </div>
	  </div>
</div>
  <br>
    <br>
    <br>
  
  
  
  
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
<h2> {% print gstin %} </h2>
<div id="divi" class="container p-4 my-3 bg-light text-info">

{% for table in tables %}

<div class="container p-4 my-3 bg-info text-light">
    <h2>{{titles[loop.index]}}</h2>

</div><br>
    {{ table|safe }}
  {% endfor %}
</div>

  </div>
 <br>
<br>

<div id="GSTR-3" class="container p-3 my-3 text-dark text-capitalize">
  <div class="shadow-lg p-4 mb-4 bg-dark">
  <h3 style="text-align: center; color: white;">GSTR 3B FILING</h3>
  <br>
   <div class="container">
  <a href="https://tutorial.gst.gov.in/userguide/returns/index.htm#t=Create_and_Submit_GSTR3B.htm" class="btn btn-warning btn-block" role="button">CLICK HERE for GSTR 3B Manual Filing Resource</a>
  </div>
  <br>
  <br>
   <h4 style="text-align: center; color: yellowgreen;">Filing GSTR 3B - Monthly and Quarterly Return by Tax Payers</h4>
   <div class="embed-responsive embed-responsive-16by9">
    <video controls>
     <source src="https://tutorial.gst.gov.in/video/returns/gstr3bonline/gstr3bonline.mp4" type="video/mp4">
      Your browser does not support HTML video.
    </video>
   </div>
  <br>
  <br>
  <h4 style="text-align: center; color: yellowgreen; ">Filing Nil Form GSTR 3B Online by Taxpayer</h4>
  <div class="embed-responsive embed-responsive-16by9">
   <video controls>
    <source src="https://tutorial.gst.gov.in/video/returns/gstr3bnil/gstr3bnil.mp4" type="video/mp4">
      Your browser does not support HTML video.
   </video>
  </div>
</div>
</div>
</div>

<br>
<br>

</body>
</html>


{% endblock %}
