{% extends 'welcomepage.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SpoonfeeTAX</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>

{% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
  </div>
 <br>
<div class="container">
  <h2>Follow the steps to file your GST Returns</h2>
  <div class="card">
    <div class="card-body">Log in to your GSTR portal and Go to File Returns.</div>
  </div>
  <br>
  <div class="card bg-primary text-white">
    <div class="card-body">Select Month and Go to Section 7 </div>
  </div>
  <br>
   <div class="card bg-info text-white">
    <div class="card-body">Select the First State and Enter the below tax Amount and Percent for it</div>
  </div>

  <br>
    <div class="card bg-success text-white">
    <div class="card-body">Click Save after entering details and repeat the steps for every state</div>
  </div>
 
  <br>
  
  <br>
  <div class="card bg-danger text-white">
    <div class="card-body">Save data after enetering all the states and click on File Return. . .</div>
  </div>
  <br>
    <br>
    <br>


</body>
</html>


{% endblock %}
