{% extends "welcome.html" %}

{% block content %}

<img src="{{url_for('static', filename='latest-minion-facebook-dp-profile-picture.png')}}" alt="gst tax filing for amazon and ecommerce sellers" id="responsive-image" Width=100%>



<div class="container p-4 my-3 bg-warning text-white">
 
    <h3><center>please login!!</center></h3>
</div>



<div class="container p-4 my-3 bg-warning text-white">
 
    
<br>


<div class="column is-4 is-offset-4">
    
    <div class="box">
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
</div> 
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<div class="container p-4 my-3 bg-warning text-white">
 
    

<form method="POST" action="/login">
</div>

{% endblock %}
