{% extends 'welcomepage.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SpoonfeeTAX</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>



<head>
	<meta charset="UTF-8">
	<title>Tax Summary</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
			{% for index, data in data.items() %}
				['{{ index }}', {{ data }}],
			{% endfor %}
        ]);

        var options = {
          title: 'State Wise Tax',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
	<div style="margin: 10px 0 0 10px;width: 1000px">
		<h3>Show Data on Google Pie Chart using Python Flask</h3>
		
		<div id="piechart_3d" style="width: 900px; height: 500px;"></div>
	</div>
</body>






<body>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h2> {% print totalTax %} </h2>
{% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
  </div>
 <br>
<div class="container">
  <h2>get full details<br>
<a class="nav-link" href="data">gstdata</a>
</h2>
  





</body>
</html>


{% endblock %}
