{% extends 'welcomepage.html' %}
{% block hom %}
{% endblock %}
{% block home %}
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 
	
	
			    
  <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#gstin"> <h2>Reveal Your GSTIN Number.</h2></button>
  <div id="gstin" class="collapse">
   {% print gstin %}
  </div>
	  
	    
  <br>
		  <br>


	

 
<div class="container">
  <p>Note:We dont Save your data! </p>
  <div class="card" style="width:400px">
	  <img class="card-img-top" src="{{url_for('static', filename='totalsale.jpeg')}}" alt="amazon sales data from Merchant Tax Report." id="responsive-image" Width=100%>
    <div class="card-body">
      <h4 class="card-title">Total Sales for the Month.</h4>
	    
	    <div class="container">

  <button type="button" class="btn btn-danger text-white" data-toggle="collapse" data-target="#demo"> <h2>Reveal Total Revenue excluding GST.</h2></button>
  <div id="demo" class="collapse">
   {% print totalSale %}
  </div>
	    
	    
	    
	        </div>

	
    </div>
  </div>
  <br>
		

		
	<div 
	     class="card bg-warning text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Total number of Succesful Orders by you: {% print no_orders %}
	    </h2>
		</div>
		
 	 </div		
  <br>
  <br>
		
	<div 
	     class="card bg-warning text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Total number of Returned Orders to you: {% print no_refunds %}
	    </h2>
		</div>
		
 	 </div	
  <br>
  <br>
		
	<div 
	     class="card bg-warning text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Cancelled Orders: {% print no_cancel %}
	    </h2>
		</div>
		
 	 </div
  <br>
	<div class="container">
  <div class="card" style="width:400px">
	  <img class="card-img-top" src="{{url_for('static', filename='gst.jpeg')}}" alt="gst tax filing for amazon and ecommerce sellers" id="responsive-image" Width=100%>
    <div class="card-body">
      <h4 class="card-title">GST Collected for the Month.</h4>
	    
  <button type="button" class="btn btn-danger text-white" data-toggle="collapse" data-target="#demo1"> <h2>Reveal Total GST to be paid.</h2></button>
  <div id="demo1" class="collapse">
   {% print totalTax %}
  </div>
	    
	      </div>
  
	    
	
    </div>
  </div>
  <br>	
  <br><div class="container p-4 my-3 bg-primary text-light">
		
	<h2> {% print "For State wise and step wise Gst details, Complete Payment!" %} </h2></div>
  <br>
  <br>


	<body>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>

{% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
  </div>
 <br>

<head>
	<meta charset="UTF-8">
	<title>Tax Summary</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
			{% for i, j in data.iterrows(): %} 

                                {% if value is string %}
					['{{ i }}', '{{ j }}'],
				{% else %}
					['{{ i }}', {{ j }}],
				{% endif %}
              
                        {% endfor %}
                         
        ]);

        var options = {
          title: 'states to file gst',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
	<div style="margin: 10px 0 0 10px;width: 400px">
		<h3>States wise Tax</h3>
		
		<div id="piechart_3d" style="width: 400px; height: 400px;"></div>
	</div>
</body>
<br><br>
<div class="container">
  <h2>Get your detailed GST data. <br> Just Pay 100/- for our coffee.. </h2><br>
	
	<img src="https://www.buymeacoffee.com/assets/img/guidelines/download-assets-2.svg" alt="gst tax filing for amazon and ecommerce sellers" id="responsive-image" Width=90%>

	
	<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Hizw0n615uZwhQ" async> </script> </form>
	


</body>
</html>


{% endblock %}
