{% extends 'welcomepage.html' %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<head>	
	  <title>SpoonfeeTAX</title>
</head>
<div class="container-fluid"><br>
  
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>       </h1>
            
           
            </div>
    </div>
</div>
</div>


	
	<div 
	     class="card bg-light text-dark">
    		<div 
	 class="card-body">
	    <h2> 
		    Your Gst Number is {% print gstin %}
	    </h2>
		</div>
		
 	 </div
  <br>
		  <br>


	

 
<div class="container">
  <p>Note:We dont Save your data! </p>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="pic3.png" alt="amazon seller gst data. " style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Total Sales for the Month.</h4>
      <p class="card-text">Total Revenue excluding GST.</p>
      <a href="#" class="btn btn-primary">{% print totalSale %}</a>
    </div>
  </div>
  <br>
		
	<div 
	     class="card bg-warning text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Total GST Collected by you: {% print totalTax %}
	    </h2>
		</div>
		
 	 </div	
  <br>
  <br>
		
	<div 
	     class="card bg-info text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Total number of Succesful Orders by you: {% print no_orders %}
	    </h2>
		</div>
		
 	 </div		
  <br>
  <br>
		
	<div 
	     class="card bg-warning text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Total number of Returned Orders to you: {% print no_refunds %}
	    </h2>
		</div>
		
 	 </div	
  <br>
  <br>
		
	<div 
	     class="card bg-info text-white">
    		<div 
	 class="card-body">
	    <h2> 
		    Cancelled Orders: {% print no_cancel %}
	    </h2>
		</div>
		
 	 </div
  <br>
		
  <br>
		
	<h2> {% print "For State wise and step wise Gst details, Complete Payment!" %} </h2>
  <br>
  <br>

<head>
	<meta charset="UTF-8">
	<title>Tax Summary</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
			 {% for k,v in data.items() %}
              [{{k|safe}},  {{v|safe}}],
              {% endfor %}
        ]);

        var options = {
          title: 'states to file gst',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
	<div style="margin: 10px 0 0 10px;width: 400px">
		<h3>States wise Tax</h3>
		
		<div id="piechart_3d" style="width: 400px; height: 400px;"></div>
	</div>
</body>
	<body>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>

{% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
  </div>
 <br>
<div class="container">
  <h2>Get your detailed GST data. <br> Just Pay 100/- for our coffee.. </h2><br>
	
	<img src="https://www.buymeacoffee.com/assets/img/guidelines/download-assets-2.svg" alt="gst tax filing for amazon and ecommerce sellers" id="responsive-image" Width=90%>

	
	<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Hizw0n615uZwhQ" async> </script> </form>
	


</body>
</html>


{% endblock %}
