{% extends "welcome.html" %}
{% block mom %} {% endblock %}
{% block hom %} {% endblock %}
{% block home %} {% endblock %}
{% block content %}

<body>
<div class="container p-4 my-3 bg-info text-white">
 
      <p><center>RESOURCES FOR E-COMMERCE GST SELLERS</center></p>
<img src="{{url_for('static', filename='gstindia.jpeg')}}" alt="gst tax filing for amazon.in and flipkart sellers" id="responsive1-image" Width=99%%>

</div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body>

<br>
<button type="button" class="btn btn-secondary text-white text-capitalize" data-toggle="collapse" data-target="#dot1"> <h4><center>What is GST?</center></h4></button> 
  <div id="dot1" class="collapse"> 


 <div class="container p-4 my-3 bg-light text-white">
  


  

  <p class="p-2 my-2 border">&#9726 The Goods and Services Tax (GST) is an indirect tax—taxation is levied on the supply of goods and services and is ultimately paid by the consumer.<br>
    &#9726 The Government of India introduced the GST in 2017 under their “one nation, one tax” reform. It is a single tax levied on the supply of goods and services right from the manufacturer to the consumer and essentially replaces multiple indirect taxes. The main objective of the reform was to unite different types of taxes in the ambit of a single tax system.</p>
</div>

</div>
  </div>
<br>





<br> 

<div class="container">
  <h4 class="p-2 my-2 bg-dark text-white text-capitalize">How Spoon Feed Tax helps your GST Filing?</h4> 
  <p class="p-2 my-2 border">Spoonfeed Tax, as the name suggest, it’s for all the tax needs for small and medium business. This spoonfeed Tax will help online sellers of <u><mark>Amazon, flipkart & Other E-commerce</mark></u> to pay GST with only few clicks . This will get your E-commerce data automatically minimises and gives you final result value which you have to update in your GST portal. (At present we are launching for Amazon Only)</p>
</div>

<br> 

<div class="container">
  <h4 class="p-2 my-2 bg-dark text-white text-capitalize">GST return filing for E-commerce Sellers</h4> 
  <p class="p-2 my-2 border">&#9726 Sellers who are registering themselves for E-commerce platform should register themselves under GST.<br>
    &#9726 There are several returns to be filed under GST for E-commerce Sellers.<br>
    &#9726 Unlike regular businesses, there is no threshold exemption for the E-commerce Sellers.<br>
    &#9726 GST return form includes the details such as purchases, sales, output GST and Input Tax Credit (ITC) which are to be submitted on monthly, quarterly or annual basis.<br>
    &#9726 Sellers are required to file Form GSTR-1, GSTR 2, GSTR 3 monthly and GSTR-9 is to be filed annually.
  </p>
</div>

<br>
<br>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<div  class="container-fluid">
<div class="card-deck">
  <div class="card shadow-lg p-4 mb-4 bg-info">
    <div class="card-body text-center">
      <a class="nav-link" href="#GSTR-1" style="font-size:150%; color:white;"><u>GSTR-1</u></a>
      <p class="card-text">&#9726 GSTR 1 is a monthly return filed for sales or outward supplies.<br>
        &#9726 The due date for filing GSTR 1 for E-commerce sellers would be 10th day of following month.
      </p>
    </div>
  </div>
  <div class="card shadow-lg p-4 mb-4 bg-warning">
    <div class="card-body text-center">
      <a class="nav-link" href="#GSTR-2" style="font-size:150%; color:white;"><u>GSTR-2</u></a>
      <p class="card-text">&#9726 GSTR-2 is a monthly return for inward supplies of goods or services or both received during a tax period.<br>
        &#9726 The due date for GSTR 2 would be 15th of subsequent month.
      </p>
    </div>
  </div>
  <div class="card shadow-lg p-4 mb-4 bg-success">
    <div class="card-body text-center">
      <a class="nav-link" href="#GSTR-3" style="font-size:150%; color:white;"><u>GSTR-3</u></a>
      <p class="card-text">&#9726 GSTR-3 is a consolidated monthly return which contains details of tax liability along with the tax collected on outward supplies and tax paid on inward supplies by registered E-commerce supplier/seller.<br>
        &#9726 The due date for GSTR 3 return filing would be 20th of the next month.
      </p>
    </div>
  </div>
  <div class="card shadow-lg p-4 mb-4 bg-danger">
    <div class="card-body text-center">
      <a class="nav-link" href="#GSTR-9" style="font-size:150%; color:white;"><u>GSTR-9</u></a>
      <p class="card-text">&#9726 All the taxpayers registered under GST including E-commerce sellers and operators are required to file their annual return in a particular form.<br>
        &#9726 The due date to file the GSTR-9 is 31st Dec of the preceding year.
      </p>
    </div>
  </div>
</div>
</div>

<br>
<br>

<div id="GSTR-1" class="container p-3 my-3 text-dark text-capitalize">
<div class="shadow-lg p-4 mb-4 bg-dark">
  <h3 style="text-align: center; color: white;">GSTR 1 FILING</h3>
  <br>
  <div class="container">
  <a href="https://tutorial.gst.gov.in/userguide/returns/index.htm#t=Creation_of_Outward_Supplies_Return_in_GSTR-1.htm" class="btn btn-warning btn-block" role="button">CLICK HERE for GSTR 1 Manual Filing Resource</a>
 </div>
  <br>
  <br>
   <h4 style="text-align: center; color: greenyellow;">Familiarizing with Different Sections of GSTR-1</h4>
  <div class="embed-responsive embed-responsive-16by9">
 <video controls>
    <source src="https://tutorial.gst.gov.in/video/returns/differentsectionsgstr1/differentsectionsgstr1.mp4" type="video/mp4">
      Your browser does not support HTML video.
  </video>
 </div>
  <br>
  <br>
  <h4 style="text-align: center; color: greenyellow; ">Adding Invoices to GSTR-1</h4>
  <div class="embed-responsive embed-responsive-16by9">
  <video controls>
    <source src="https://tutorial.gst.gov.in/video/returns/addinginvoices/addinginvoices.mp4" type="video/mp4">
      Your browser does not support HTML video.
  </video>
</div>
</div>
</div>

<br>
<br>

<div id="GSTR-2" class="container p-3 my-3 text-dark text-capitalize">
 <div class="shadow-lg p-4 mb-4 bg-dark">
  <h3 style="text-align: center; color: white;">GSTR 2</h3>
  <br>
  <div class="container">
   <a href="https://tutorial.gst.gov.in/userguide/returns/index.htm#t=View_of_Inward_Supplies_Returns_1.htm" class="btn btn-warning btn-block" role="button">CLICK HERE for GSTR 2 Auto Drafted Inward Supplies</a>
<br>
   <a href="https://tutorial.gst.gov.in/userguide/returns/index.htm#t=Manual_gstr2b.htm" class="btn btn-warning btn-block" role="button">CLICK HERE for GSTR 2 Auto Drafted Input Tax Credit (ITC)</a>
</div>
</div>
</div>

<br>
<br>

<div id="GSTR-3" class="container p-3 my-3 text-dark text-capitalize">
  <div class="shadow-lg p-4 mb-4 bg-dark">
  <h3 style="text-align: center; color: white;">GSTR 3B FILING</h3>
  <br>
   <div class="container">
  <a href="https://tutorial.gst.gov.in/userguide/returns/index.htm#t=Create_and_Submit_GSTR3B.htm" class="btn btn-warning btn-block" role="button">CLICK HERE for GSTR 3B Manual Filing Resource</a>
  </div>
  <br>
  <br>
   <h4 style="text-align: center; color: yellowgreen;">Filing GSTR 3B - Monthly and Quarterly Return by Tax Payers</h4>
   <div class="embed-responsive embed-responsive-16by9">
    <video controls>
     <source src="https://tutorial.gst.gov.in/video/returns/gstr3bonline/gstr3bonline.mp4" type="video/mp4">
      Your browser does not support HTML video.
    </video>
   </div>
  <br>
  <br>
  <h4 style="text-align: center; color: yellowgreen; ">Filing Nil Form GSTR 3B Online by Taxpayer</h4>
  <div class="embed-responsive embed-responsive-16by9">
   <video controls>
    <source src="https://tutorial.gst.gov.in/video/returns/gstr3bnil/gstr3bnil.mp4" type="video/mp4">
      Your browser does not support HTML video.
   </video>
  </div>
</div>
</div>
</div>

<br>
<br>

<div id="GSTR-9" class="container p-3 my-3 text-dark text-capitalize">
 <div class="shadow-lg p-4 mb-4 bg-dark">
  <h3 style="text-align: center; color: white;">GSTR 9 FILING</h3>
  <br>
  <div class="container">
  <a href="https://tutorial.gst.gov.in/userguide/returns/index.htm#t=Manual_gstr9.htm" class="btn btn-warning btn-block" role="button">CLICK HERE for GSTR 9 Manual Filing Resource</a>
 </div>
  <br>
  <br>
 <h4 style="text-align: center; color: yellowgreen;">Filing GSTR-9 - Annual Return for Taxpayer</h4>
 <div class="embed-responsive embed-responsive-16by9">
 <video controls>
  <source src="https://tutorial.gst.gov.in/video/returns/gstr9/gstr9.mp4" type="video/mp4">
    Your browser does not support HTML video.
</video>
</div>
</div>  
</div>

<br>
<br>

</body>
</body>



{% endblock %}
