{% extends "welcome.html" %}
{% block mom %} {% endblock %}
{% block hom %} {% endblock %}
{% block home %} {% endblock %}
{% block content %}

<body>
<div class="container p-4 my-3 bg-info text-white">
 
      <h3><center>RESOURCES FOR E-COMMERCE GST </center></h3>
</div>
<div class="container p-4 my-3 bg-light text-white">
 
<div class="container">
  
  <
<!-- ----------------------------about gst------------------------------------------------------------------------------------- -->
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#aboutgst">learn about GST </button>
  <div id="aboutgst" class="collapse"style="background-color:rgb(238, 130, 238);" >
    Goods and Services Tax (GST) is an indirect tax (or consumption tax) used in India on the supply of goods and services. 
    It is a comprehensive, multistage, destination-based tax: comprehensive because it has subsumed almost all the indirect taxes except a few state taxes. 
    Multi-staged as it is, the GST is imposed at every step in the production process,
    but is meant to be refunded to all parties in the various stages of production other than the final consumer and as a destination-based tax, 
    it is collected from point of consumption and not point of origin like previous taxes. </div>
  </div> 
 
</div>
<div class="container p-4 my-3 bg-light text-white">
 
  <!-- -----------------------------------------------about gst-------------------------------------------------------------------  -->
  
  <!-- -----------------------------------------------who is this spoon feed tax for --------------------------------------------- -->
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#module2">who is this spoon feed tax for ?</button>
  
  <div id="module2" class="collapse" style="background-color:rgb(255, 165, 0);">
    Spoonfeedtax, as the name suggest, it’s for all the tax needs for small and medium business. 
      this spoonfeedtax will help online sellers of amazon & flipkart ( launching soon ) to pay GST with only few clicks . 
      This will get your mtr data automatically minimises and gives you final result value which you have to update in your GST portal. </div>
    
</div></div>
<br>
<br>
<div class="container p-4 my-3 bg-light text-white">
 
<!-- -----------------------------------------------who is this spoon feed tax for --------------------------------------------- -->

  <!-- ----------------------------------- Who is eligilble ?--------------------------------------------------------- -->
  
   <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#module3">Who is eligilble ?</button>
  
  <div id="module3" class="collapse">
    <p style="background-color:Tomato;">
      if you are selling goods (other than goods of section 7B ) through Ecommerce platforms of amazon & flipkart then it is for you </p> </div>
 
  </div> </div>
</br>

<br><br><div class="container p-4 my-3 bg-light text-white">
 
  <!-- ----------------------------------- Who is eligilble ?--------------------------------------------------------- -->
  <!-- ------------------------------------ section 7B-------------------------------------------------------------------  -->
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#module4">Who is eligilble ?</button>
  
  <div id="module4" class="collapse"style="background-color:rgb(60, 179, 113);"> 
      section 7B 
      
      vubjbhbubbubihubbbgbkbbbkkbbjkkbiuhbxcnosjdnfovonnfejnoijkj 
      hvkjnonjnnfkfjfoinffjfofjjkffk jffkjnofjofjrfosfjnvjkiucffkwhwkjffifjkf
      bbfrbfiufkihbfifkjhfkjjejgojsfkbfkdfvjnkjndnkbdck jn vv knvk knk 
      brerfbrrfefjfjjffkrberherjknoknoek jernfjbvrferjffe djjiugdhjggihgkj
      jojnnrjgjiiinsnjknfnjnngngg  oejkerjjjhie vubjbhbubbubihubbbgbkbbbkkbbjkkbiuhbxcnosjdnfovonnfejnoijkj
 
  </div> </div>
</br><br><br>
<!-- ------------------------------------ LEARN HOW TO FILE GSTR 1 -------------------------------------------------------------------  -->


  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#module5">LEARN HOW TO FILE GSTR 1 </button>
  
  <div id="module5" class="collapse" style="background-color:rgb(238, 130, 238);" >
  <ol>
    <li>Log in and navigate to the GSTR-1 return.
    <li>Select quarterly or monthly GSTR-1 filing.</li>
    <li>Download and edit e-invoice data (if applicable)</li>
    <li>Enter details for the current tax period in the various tiles.</li>
    <li>Generate the GSTR-1 summary.</li>
    <li> Preview the GSTR-1.</li>
    <li>Acknowledge and submit the GSTR-1 return. </li>
  </ol>
  </div>
</div><br><br>
<!-- ------------------------------------ LEARN HOW TO FILE GSTR 2 -------------------------------------------------------------------  -->
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#module6">LEARN HOW TO FILE GSTR 2 </button>
  
  <div id="module6" class="collapse" style="background-color:rgb(48, 150, 17);" >
  <ol>
    <li>Log in and navigate to the GSTR-1 return.</li>
    <li>Select quarterly or monthly GSTR-1 filing.</li>
    <li>Download and edit e-invoice data (if applicable)</li>
    <li>Enter details for the current tax period in the various tiles.</li>
    <li>Generate the GSTR-1 summary.</li>
    <li> Preview the GSTR-1.</li>
    <li>Acknowledge and submit the GSTR-1 return. </li>
  </ol>
  </div>
</div><br>
<!-- ------------------------------------ LEARN HOW TO FILE GSTR 3 -------------------------------------------------------------------  -->
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#module7">LEARN HOW TO FILE GSTR 2 </button>
  <div id="module7" class="collapse" style="background-color:rgb(219, 150, 22);" >
  <ol>
    <li>Log in and navigate to the GSTR-1 return.</li>
    <li>Select quarterly or monthly GSTR-1 filing.</li>
    <li>Download and edit e-invoice data (if applicable)</li>
    <li>Enter details for the current tax period in the various tiles.</li>
    <li>Generate the GSTR-1 summary.</li>
    <li> Preview the GSTR-1.</li>
    <li>Acknowledge and submit the GSTR-1 return. </li>
  </ol>
  </div>
</div><br>
<!-- ------------------------------------ LEARN HOW TO FILE GSTR 4 -------------------------------------------------------------------  -->
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#module8">LEARN HOW TO FILE GSTR 3 </button>
  <div id="module8" class="collapse" style="background-color:rgb(196, 180, 240);" >
  <ol>
    <li>Log in and navigate to the GSTR-1 return.</li>
    <li>Select quarterly or monthly GSTR-1 filing.</li>
    <li>Download and edit e-invoice data (if applicable)</li>
    <li>Enter details for the current tax period in the various tiles.</li>
    <li>Generate the GSTR-1 summary.</li>
    <li> Preview the GSTR-1.</li>
    <li>Acknowledge and submit the GSTR-1 return. </li>
  </ol>
  </div>
</div><br><br>

</body>

{% endblock %}
