<!DOCTYPE html>
<html lang="en">
<head>
  <title>SpoonfeedTAX</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

<div class="container-fluid">
  <br>
  <h3>SpoonfeedTAX</h3>
  <p>For Amazon.in Sellers  -- File GST Returns Easily in Simple Steps Using Our AI Calculated Data </p>
  <p>We dont save your Data <strong>Note:</strong> This Module is under Development Process!</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="Home">Home</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="Resources">Resources</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="Community_Forums">Community_Forums</a>
    </li>
  </ul>
</nav>
<img src="{{url_for('static', filename='pic.jpg')}}" class="rounded" alt="gst tax filing for amazon and ecommerce sellers">
<div class="container-fluid"><br>
  
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Spoon Feed TAX.</h1>
            <h3>Let's get Paying GST.</h3>
            <h3>Simple Steps to filing your GST. </h3>
            </div>
    </div>
</div>
</div>

{% block content %}

<div class="card">
    <div class="card-body">Log in to your GSTR portal and Go to File Returns.</div>
  </div>
  <br>
  <div class="card bg-primary text-white">
    <div class="card-body">Select Month and Go to Section 7 </div>
  </div>
  <br>
   <div class="card bg-info text-white">
    <div class="card-body">Select the First State and Enter the below tax Amount and Percent for it</div>
  </div>

  <br>
    <div class="card bg-success text-white">
    <div class="card-body">Click Save after entering details and repeat the steps for every state</div>
  </div>
 
  <br>
  
  <br>
  <div class="card bg-danger text-white">
    <div class="card-body">Save data after enetering all the states and click on File Return. . .</div>
  </div>
  <br>
    <br>
    <br>

{% endblock %}
    

</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://spoonfeedtax.herokuapp.com/"> spoonfeedTAX</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
