{% extends "welcome.html" %}

{% block content %}
<h1 class="title">
                    AMAZON MERCHANT TAX REPORT LINK***!!
</h1>



<!DOCTYPE html>
<html lang="en">

<div class="container-fluid"><br>
  
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>       </h1>
            <h3>       </h3>
            <h3>Upload your Merchant TAX Report (_csv file)</h3>
            </div>
    </div>
</div>
</div>



    <form method=POST enctype=multipart/form-data>
    <input type=file name=file> <br>
    <input type=submit value=Upload>
    </form>
    

</body>
</html>
{% endblock %}


