{% extends "welcome.html" %}

{% block content %}
<h3 class="title">
          <div class="card bg-secondary  text-white">
    <div class="card-body">
<a href="http://sellercentral.amazon.in/tax/merchanttaxreports/" target="_blank">Download your amazon Merchant tax report !</a> 
</div>
</div>
<body>
Download , unzip and upload csv file </body> 
  
            
</h3>



<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container-fluid"><br>
  
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>       </h1>
            
           
            </div>
    </div>
</div>
</div>



    <form method=POST enctype=multipart/form-data>
    <input type=file name=file> <br>
    <input type=submit value=Upload>
    </form>
    <div class="card bg-light">
    <div class="card-body">Log in to your GSTR portal and Go to File Returns.</div>
  </div>
  <br>
  <div class="card bg-primary text-white">
    <div class="card-body">Select Month and Go to Section 7 </div>
  </div>
  <br>
   <div class="card bg-info text-white">
    <div class="card-body">Select the First State and Enter the below tax Amount and Percent for it</div>
  </div>

  <br>
    <div class="card bg-success text-white">
    <div class="card-body">Click Save after entering details and repeat the steps for every state</div>
  </div>
 
  <br>
  
  <br>
  <div class="card bg-danger text-white">
    <div class="card-body">Save data after enetering all the states and click on File Return. . .</div>
  </div>
  <br>
    <br>
<h1>      </h1>
    <br>

</body><br>
<br>
<!-- Footer style -->

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 90%;
  background-color: black;
  color: white;
  text-align: center;
}
</style>

  <!-- Copyright -->
  <div class="footer">© 2021 Copyright:
    <a href="https://spoonfeedtax.herokuapp.com/"> spoonfeedTAX</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
{% endblock %}


