{% extends "welcome.html" %}
{% block hom %}
{% endblock %}
{% block home %}
{% endblock %}
{% block content %}
<h3 class="title">
          <div class="card bg-warning  text-white">
    <div class="card-body .text-body">
<a href="http://sellercentral.amazon.in/tax/merchanttaxreports/" target="_blank">Click here to Download your amazon Merchant tax report!</a> 
</div>
</div>
<body>
Download , unzip and upload B2C MTR csv file </body> 
  
            
</h3>




<div class="container-fluid"><br>
  
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>       </h1>
            
           
            </div>
    </div>
</div>
<br>


    <form method=POST enctype=multipart/form-data>
    <input type=file name=file> <br>
    <input type=submit value=Upload>
    </form>
    <div class="card bg-light">
    <div class="card-body">Log in to your GSTR portal and Go to File Returns.</div>
  </div>
  <br>
  <div class="card bg-primary text-white">
    <div class="card-body">Select Month and Go to GSTR-1, Section 7 </div>
  </div>
  <br>
   <div class="card bg-info text-white">
    <div class="card-body">Select each State and Enter the sale amount and Percent for it</div>
  </div>

  <br>
    <div class="card bg-success text-white">
    <div class="card-body">Click Save after entering details and repeat the steps for every state</div>
  </div>
 
  <br>
  
  <br>
  <div class="card bg-danger text-white">
    <div class="card-body">Save data after enetering all the states and click on File Return. . .</div>
  </div>
  <br>
    <br>
<h1>      </h1>
    <br>

</body><br>
<br>


{% endblock %}


