{% extends "welcome.html" %}
{% block hom %} {% endblock %}
{% block home %} {% endblock %} 
{% block homeo %} {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <div class="col-md-12 bg-secondary text-center">
            <h1>Welcome to Spoon Feed TAX.</h1>
          </div> </div>


{% block content %}

<h3><center> NEXT STEPS TO FILE YOUR GSTR </center> </h3>
<div class="card">
    <div class="card-body">Log in to your GSTR portal and Go to File Returns.</div>
  </div>
  <br>
  <div class="card bg-primary text-white">
    <div class="card-body">Select Month and Go to Section 7 </div>
  </div>
  <br>
   <div class="card bg-info text-white">
    <div class="card-body">Select the First State and Enter the below tax Amount and Percent for it</div>
  </div>

  <br>
    <div class="card bg-success text-white">
    <div class="card-body">Click Save after entering generated details</div>
  </div>
 
  <br>
  
  <br>
  <div class="card bg-danger text-white">
    <div class="card-body">Save data after enetering all the states and click on File Return. . .</div>
  </div>
  <br>
    <br>

<div class="card bg-warning text-white">
    <div class="card-body">Check your credit bills with those in the GST portal.</div>
  </div>
  <br>
    <br>

{% endblock %}
    

